[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = git@github.com:jkuhlmann/cgltf
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb
[submodule "RayTracingInVulkan"]
	path = RayTracingInVulkan
	url = git@github.com:seanbaxter/RayTracingInVulkan
	branch = circle
[submodule "mgpu-shaders"]
	path = mgpu-shaders
	url = git@github.com:seanbaxter/mgpu-shaders
[submodule "thirdparty/thrust"]
	path = thirdparty/thrust
	url = git@github.com:allisonvacanti/thrust
[submodule "thirdparty/cub"]
	path = thirdparty/cub
	url = git@github.com:allisonvacanti/cub
